
<h1> {{ chosenPost.title }}</h1>

<div>
    <h3>User info</h3>
    <div>
        <p>Name: <span>{{ user.name }} </span></p>
        <p>Email: <span>{{ user.email }}</span></p>
        <p>Company: <span> {{ user.company.name}} </span></p>
        <p>Phone: <span>{{ user.phone }}</span></p>
        <p>Website: <span>{{ user.website }}</span></p>
    </div>
</div>


<h4> {{ chosenPost.body}} </h4>

<h3>Comments</h3>

<ul class="list-group">
    <li class="list-group-item" ng-repeat="comment in comments">
        <span class="text-danger">
            {{ comment.name }}
        </span>
        <p>
            {{ comment.body }}
        </p>
        <strong>
            {{ comment.email }}
        </strong>
    </li>
</ul>

<a ui-sref="/posts" class="btn btn-primary">Back to posts</a>