<div class="col-md-10">
    <h1>POSTS</h1>
    <div class="form-group">
        <input type="text" ng-model="query.title" ng-minlength="3" class="form-control" placeholder="Type post title to filter posts">
    </div>
    
    <ul id="posts">
        <li dir-paginate="post in posts | filter: query | orderBy: title | itemsPerPage: 9">
            
            <h3><a ui-sref="/post({ postId: post.id })">{{ post.title }}</a></h3>
            <p>{{ post.body | limitTo: 60 }}</p>
        </li>
    </ul>
    <dir-pagination-controls
        max-size="3"
        direction-links="true"
        boundary-links="true" >
    </dir-pagination-controls>
</div>
<div class="col-md-2">
    <a id="createPost" ui-sref="/newPost" class="btn btn-primary">Create new post</a>
</div>
